@page "/fetchdata"

@using Score.UI.Service
@using Scores.DataModels.Models
@inject IFrontEndservice _frontEndService;


@code {
    private List<Product> Data = null;
    protected override async Task OnInitializedAsync() 

    {
        await base.OnInitializedAsync();
        Data = await _frontEndService.getProducts();

    }

}
<h1>Keeping Scores</h1>

<p>This will fetch data from the database stored in local host.</p>

@if (Data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Score</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                      <td>@item.Score</td>
                    
                </tr>
            }
        </tbody>
    </table>
}



